@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&family=Shadows+Into+Light&display=swap");

body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: grid;
  place-items: center;
  background-image: linear-gradient(to top, #111111, #0c101a);
}

.container {
  position: relative;
  width: 500px;
  height: 600px;
  display: grid;
  place-items: center;
}
.btn-happy {
  position: absolute;
  bottom: -70px;
  text-decoration: none;
  width: 250px;
  text-align: center;
  background-color: #f1c40f;
  border-radius: 20px;
  padding: 5px 0;
  color: #14757a;
  font-weight: 700;
  letter-spacing: 5px;
  font-family: "Shadows Into Light", cursive;
  text-transform: uppercase;
  z-index: 1000;
}
.night {
}

.flower {
  width: 50px;
  height: 50px;
  animation: giro- 4s linear infinite;
  z-index: 10;
  & .leaf {
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    background-color: rgb(226, 192, 38);
    border-radius: 2px 50px;
    opacity: 0.7;
    box-shadow: -5px -5px 2px rgba(0, 0, 0, 0.05);
  }

  & .leaf-0 {
    transform: rotate(0deg) translate(-35px, -35px) scale(2);
  }
  & .leaf-1 {
    transform: rotate(22.5deg) translate(-35px, -35px) scale(2);
  }
  & .leaf-2 {
    transform: rotate(45deg) translate(-35px, -35px) scale(2);
  }
  & .leaf-3 {
    transform: rotate(67.5deg) translate(-35px, -35px) scale(2);
  }
  & .leaf-4 {
    transform: rotate(90deg) translate(-35px, -35px) scale(2);
  }
  & .leaf-5 {
    transform: rotate(112.5deg) translate(-35px, -35px) scale(2);
  }
  & .leaf-6 {
    transform: rotate(135deg) translate(-35px, -35px) scale(2);
  }
  & .leaf-7 {
    transform: rotate(157.5deg) translate(-35px, -35px) scale(2);
  }
  & .leaf-8 {
    transform: rotate(180deg) translate(-35px, -35px) scale(2);
  }
  & .leaf-9 {
    transform: rotate(202.5deg) translate(-35px, -35px) scale(2);
  }
  & .leaf-10 {
    transform: rotate(225deg) translate(-35px, -35px) scale(2);
  }
  & .leaf-11 {
    transform: rotate(247.5deg) translate(-35px, -35px) scale(2);
  }
  & .leaf-12 {
    transform: rotate(270.5deg) translate(-35px, -35px) scale(2);
  }
  & .leaf-13 {
    transform: rotate(292.5deg) translate(-35px, -35px) scale(2);
  }
  & .leaf-14 {
    transform: rotate(315deg) translate(-35px, -35px) scale(2);
  }
  & .leaf-15 {
    transform: rotate(337.5deg) translate(-35px, -35px) scale(2);
  }
}

.dot {
  position: absolute;
  z-index: 2;
  width: 50px;
  height: 50px;
  background-color: #be7026;
  border-radius: 50%;
  animation: dot- 4s ease-in-out infinite;
}

.flower{
  opacity: 1;
  -webkit-animation: blooming-flower 2s backwards;
  animation: blooming-flower 2s backwards;
}
.flower--1 {
  position: absolute;
  right: 85px;
  top: 275px;
  transform: rotate3d(4, 2, 4, 45deg) scale(0.95);
  -webkit-animation: moving-flower-1 4s linear infinite;
  animation: moving-flower-1 4s linear infinite;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;

  & .flower-line {
    height: 52vmin;
  }
}
.flower--2 {
  position: absolute;
  top: 95px;
  transform: rotate3d(0, 0, 10, 1deg);
  -webkit-animation: moving-flower-2 4s linear infinite;
  animation: moving-flower-2 4s linear infinite;

  & .flower-line {
    height: 61vmin;
  }
}
.flower--3 {
  position: absolute;
  top: 280px;
  left: 80px;
  transform: rotate3d(-8, 4, -7, 47deg) scale(0.9);
  -webkit-animation: moving-flower-3 4s linear infinite;
  animation: moving-flower-3 4s linear infinite;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;

  & .flower-line {
    height: 55vmin;
  }
}
.flower-line {
  position: relative;
  height: 60vmin;
  width: 1.5vmin;
  margin-left: 20px;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.2),
      transparent,
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(to top, transparent 10%, #14757a, #39c6d6);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  -webkit-animation: grow-flower-tree 4s backwards;
  animation: grow-flower-tree 4s backwards;

  & .flower-line-leaf {
    --w: 7vmin;
    --h: calc(var(--w) + 2vmin);
    position: absolute;
    top: 20%;
    left: 90%;
    width: var(--w);
    height: var(--h);
    border-top-right-radius: var(--h);
    border-bottom-left-radius: var(--h);
    background-image: linear-gradient(to top, rgba(20, 117, 122, 0.4), #3fb36b);
  }
  & .flower-line-leaf--1 {
    top: 25%;
    right: 150px;
    transform: rotate(70deg) rotateY(30deg);
    -webkit-animation: blooming-leaf-right var(--fl-speed) 1.7s backwards;
    animation: blooming-leaf-right var(--fl-speed) 1.7s backwards;
  }
  & .flower-line-leaf--2 {
    top: 244px;
    right: 150px;
    transform: rotate(70deg) rotateY(30deg);
    -webkit-animation: blooming-leaf-right var(--fl-speed) 1.7s backwards;
    animation: blooming-leaf-right var(--fl-speed) 1.7s backwards;
  }
  & .flower-line-leaf--3 {
    top: 180px;
    left: -50px;
    -webkit-animation: blooming-leaf-right var(--fl-speed) 1.7s backwards;
    animation: blooming-leaf-right var(--fl-speed) 1.7s backwards;
  }
  & .flower-line-leaf--4 {
    top: 300px;
    left: -50px;
    -webkit-animation: blooming-leaf-right var(--fl-speed) 1.7s backwards;
    animation: blooming-leaf-right var(--fl-speed) 1.7s backwards;
  }
}
.grow-ans {
  -webkit-animation: grow-ans 2s var(--d) backwards;
  animation: grow-ans 2s var(--d) backwards;
  transform: scale(0.7);

  & .flower__g-fr {
    position: absolute;
    bottom: -38vmin;
    left: 12vmin;
    transform-origin: bottom left;
    z-index: 10;
    -webkit-animation: flower__g-fr-ans 2s linear infinite;
    animation: flower__g-fr-ans 2s linear infinite;

    & .flower__g_leaf {
      width: 30vmin;
      height: 50vmin;
      border-top-left-radius: 100%;
      border-left: 2vmin solid #079097;
      -webkit-mask-image: linear-gradient(to top, transparent 25%, #079097 50%);
      position: relative;
      z-index: 1;
    }
    & .flower__g-fr__leaf {
      position: absolute;
      top: 0;
      left: 0;
      width: 10vmin;
      height: 10vmin;
      border-radius: 100% 0% 0% 100% / 100% 100% 0% 0%;
      box-shadow: inset 0 2px 1vmin hsla(184deg, 97%, 58%, 0.2);
      background-image: linear-gradient(
          to bottom left,
          transparent,
          var(--dark-color) 98%
        ),
        linear-gradient(
          to bottom right,
          #23f0ff 45%,
          transparent 50%,
          transparent
        );
      -webkit-mask-image: linear-gradient(
        135deg,
        #159faa 40%,
        transparent 50%,
        transparent
      );
    }
    & .flower__g-fr__leaf--1 {
      left: 20vmin;
      transform: rotate(45deg);
      -webkit-animation: flower__g-fr-leaft-ans-1 0.5s 5.2s linear backwards;
      animation: flower__g-fr-leaft-ans-1 0.5s 5.2s linear backwards;
    }
    & .flower__g-fr__leaf--2 {
      left: 12vmin;
      top: -7vmin;
      transform: rotate(25deg) rotateY(-180deg);
      -webkit-animation: flower__g-fr-leaft-ans-6 0.5s 5s linear backwards;
      animation: flower__g-fr-leaft-ans-6 0.5s 5s linear backwards;
    }
    & .flower__g-fr__leaf--3 {
      left: 15vmin;
      top: 6vmin;
      transform: rotate(55deg);
      -webkit-animation: flower__g-fr-leaft-ans-5 0.5s 4.8s linear backwards;
      animation: flower__g-fr-leaft-ans-5 0.5s 4.8s linear backwards;
    }
    & .flower__g-fr__leaf--4 {
      left: 6vmin;
      top: -2vmin;
      transform: rotate(25deg) rotateY(-180deg);
      -webkit-animation: flower__g-fr-leaft-ans-6 0.5s 4.6s linear backwards;
      animation: flower__g-fr-leaft-ans-6 0.5s 4.6s linear backwards;
    }
    & .flower__g-fr__leaf--5 {
      left: 10vmin;
      top: 14vmin;
      transform: rotate(55deg);
      -webkit-animation: flower__g-fr-leaft-ans-5 0.5s 4.4s linear backwards;
      animation: flower__g-fr-leaft-ans-5 0.5s 4.4s linear backwards;
    }
    & .flower__g-fr__leaf--6 {
      left: 0vmin;
      top: 6vmin;
      transform: rotate(25deg) rotateY(-180deg);
      -webkit-animation: flower__g-fr-leaft-ans-6 0.5s 4.2s linear backwards;
      animation: flower__g-fr-leaft-ans-6 0.5s 4.2s linear backwards;
    }
    & .flower__g-fr__leaf--7 {
      left: 5vmin;
      top: 22vmin;
      transform: rotate(45deg);
      -webkit-animation: flower__g-fr-leaft-ans-7 0.5s 4s linear backwards;
      animation: flower__g-fr-leaft-ans-7 0.5s 4s linear backwards;
    }
    & .flower__g-fr__leaf--8 {
      left: -4vmin;
      top: 15vmin;
      transform: rotate(15deg) rotateY(-180deg);
      -webkit-animation: flower__g-fr-leaft-ans-8 0.5s 3.8s linear backwards;
      animation: flower__g-fr-leaft-ans-8 0.5s 3.8s linear backwards;
    }
  }
}
.grow-ans-2 {
  position: absolute;
  left: 50%;
  bottom: 200px;
  transform: scaleX(-1);
  z-index: -1;
}

.long-g {
  position: absolute;
  bottom: 12vmin;
  left: 6vmin;
  transform-origin: bottom left;
  transform: rotate(-15deg);

  & .grow-ans {
    -webkit-animation: grow-ans 2s var(--d) backwards;
    animation: grow-ans 2s var(--d) backwards;
  }

  & .leaf {
    --w: 15vmin;
    --h: 40vmin;
    --c: #28917f;
    position: absolute;
    bottom: 0;
    width: var(--w);
    height: var(--h);
    border-top-left-radius: 100%;
    border-left: 2vmin solid var(--c);
    -webkit-mask-image: linear-gradient(
      to top,
      transparent 20%,
      var(--dark-color)
    );
    transform-origin: bottom center;
  }

  & .leaf--1 {
    --w: 5vmin;
    --h: 60vmin;
    -webkit-animation: leaf-ans-1 4s linear infinite;
    animation: leaf-ans-1 4s linear infinite;
  }
  & .leaf--2 {
    --w: 10vmin;
    --h: 40vmin;
    left: -0.5vmin;
    bottom: 5vmin;
    transform-origin: bottom left;
    transform: rotateY(-180deg);
    -webkit-animation: leaf-ans-2 3s linear infinite;
    animation: leaf-ans-2 3s linear infinite;
  }
  & .leaf--3 {
    --w: 5vmin;
    --h: 30vmin;
    left: -1vmin;
    bottom: 3.2vmin;
    transform-origin: bottom left;
    transform: rotate(-10deg) rotateY(-180deg);
    -webkit-animation: leaf-ans-3 3s linear infinite;
    animation: leaf-ans-3 3s linear infinite;
  }
}
.long-g--1 {
  bottom: -6vmin;
  left: -20px;
  transform: scale(0.8) rotate(-5deg);
}
.long-g--2 {
  bottom: -3vmin;
  left: 50px;
  transform-origin: center;
  transform: scale(0.6) rotateX(60deg);
}
.long-g--3 {
  left: 50vmin;
  bottom: 5vmin;
  z-index: -1;
}
.long-g--4 {
  left: 25vmin;
  bottom: -5vmin;
  transform-origin: center;
  transform: scale(0.6) rotateX(60deg);
}
.long-g--5 {
  left: 60vmin;
  bottom: 0vmin;
  transform: scale(0.8) rotate(2deg);
}
.long-g--6 {
  left: 43vmin;
  bottom: -10vmin;
  z-index: 100;
  filter: blur(0.3vmin);
  transform: scale(0.8) rotate(2deg);
}
.long-g--7 {
  left: 35vmin;
  bottom: 3vmin;
  z-index: -1;
  filter: blur(0.3vmin);
  transform: scale(0.6) rotate(2deg);
  opacity: 0.7;
}
.flower__line {
  -webkit-animation: grow-flower-tree 4s backwards;
    animation: grow-flower-tree 4s backwards;
}

.flower__light {
  position: absolute;
  bottom: 0vmin;
  width: 1vmin;
  height: 1vmin;
  background-color: rgb(255, 251, 0);
  border-radius: 50%;
  filter: blur(0.2vmin);
  -webkit-animation: light-ans 4s linear infinite backwards;
  animation: light-ans 4s linear infinite backwards;
}
.flower__light:nth-child(odd) {
  background-color: #23f0ff;
}
.flower__light--1 {
  left: -2vmin;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.flower__light--2 {
  left: 3vmin;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.flower__light--3 {
  left: -6vmin;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.flower__light--4 {
  left: 6vmin;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.flower__light--5 {
  left: -1vmin;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.flower__light--6 {
  left: -4vmin;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.flower__light--7 {
  left: 3vmin;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.flower__light--8 {
  left: -6vmin;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.nombrePer {
  position: fixed;
  font-size: 10em;
  color: #fffef5;
  text-transform: uppercase;
  z-index: 1000;
  bottom: -10px;
  text-shadow: 1.5px 1.5px 2px #c7b940,
               -1.5px -1.5px 2px #7a5f14,
               5px 5px 0px #2e2d2d,
               7px 7px 0px #1f1c05,
               10px 10px 0px #443913,
               11.5px 11.5px 5px #5f5a49;
}

.bienvenida {
  color: #35d391;
  margin-top: -145px;
  letter-spacing: 2.5px;
  font-size: 1.8em;
  font-family: "Shadows Into Light";
}
form {
  position: absolute;
  width: 300px;
  height: 120px;
  display: grid;
  place-items: center;

  background: rgba(61, 77, 72, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(61, 77, 72, 0.15);

  & input {
    width: 80%;
    padding: 12px 10px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #00000085;
    color: #23f0ff;
    display: block;
    text-align: center;
    font-size: 1.5em;
  }
  & button {
    position: relative !important;
    display: block;
    outline: none;
    border: none;
  }
}

section {
  position: fixed;
  width: 100%;
  height: 100vh;
}
span {
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
  background: white;
  animation: animate 5s linear infinite;
}


@-webkit-keyframes moving-flower-1 {
  0%,
  100% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(20deg);
  }
}
@keyframes moving-flower-1 {
  0%,
  100% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(20deg);
  }
}
@-webkit-keyframes moving-flower-2 {
  0%,
  100% {
    transform: rotate(-1.5deg);
  }
  50% {
    transform: rotate(1.5deg);
  }
}
@keyframes moving-flower-2 {
  0%,
  100% {
    transform: rotate(-1.5deg);
  }
  50% {
    transform: rotate(1.5deg);
  }
}
@-webkit-keyframes moving-flower-3 {
  0%,
  100% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(-28deg) rotateY(-10deg);
  }
}
@keyframes moving-flower-3 {
  0%,
  100% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(-28deg) rotateY(-10deg);
  }
}

@-webkit-keyframes grow-flower-tree {
  0% {
    height: 0;
    border-radius: 1vmin;
  }
}
@keyframes grow-flower-tree {
  0% {
    height: 0;
    border-radius: 1vmin;
  }
}

@-webkit-keyframes blooming-flower {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blooming-flower {
  0% {
    opacity: 0;
}  100% {
    opacity: 1;
  }
}

@-webkit-keyframes leaf-ans-1 {
  0%,
  100% {
    transform: rotate(-5deg) scale(1);
  }
  50% {
    transform: rotate(5deg) scale(1.1);
  }
}

@keyframes leaf-ans-1 {
  0%,
  100% {
    transform: rotate(-5deg) scale(1);
  }
  50% {
    transform: rotate(5deg) scale(1.1);
  }
}
@-webkit-keyframes leaf-ans-2 {
  0%,
  100% {
    transform: rotateY(-180deg) rotate(5deg);
  }
  50% {
    transform: rotateY(-180deg) rotate(0deg) scale(1.1);
  }
}
@keyframes leaf-ans-2 {
  0%,
  100% {
    transform: rotateY(-180deg) rotate(5deg);
  }
  50% {
    transform: rotateY(-180deg) rotate(0deg) scale(1.1);
  }
}
@-webkit-keyframes leaf-ans-3 {
  0%,
  100% {
    transform: rotate(-10deg) rotateY(-180deg);
  }
  50% {
    transform: rotate(-20deg) rotateY(-180deg);
  }
}
@keyframes leaf-ans-3 {
  0%,
  100% {
    transform: rotate(-10deg) rotateY(-180deg);
  }
  50% {
    transform: rotate(-20deg) rotateY(-180deg);
  }
}

.grow-ans {
  -webkit-animation: grow-ans 2s var(--d) backwards;
  animation: grow-ans 2s var(--d) backwards;
}

@-webkit-keyframes grow-ans {
  0% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes grow-ans {
  0% {
    transform: scale(0);
    opacity: 0;
  }
}